<!DOCTYPE html>
<html>

<head>
  <title>Rails CRUD</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'rails', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div>
    <%= render 'components/Navbar' %>
    <%= yield :header %>
    <main class="py-10 px-20">
      <% if notice %>
      <%= render 'components/Notification' %>
      <% end %>
      <%= yield :content %>
    </main>
  </div>
  <%= javascript_include_tag "application" %>
</body>

</html>