<!DOCTYPE html>
<html>

<head>
  <title>Rails CRUD</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'fontawesome/css/fontawesome.min.css'%>
  <%= javascript_pack_tag 'rails', 'data-turbolinks-track': 'reload' %>
  <%= yield :head or "" %>
</head>

<body>
  <% if user_signed_in? %>
  <%= render 'components/Navbar' %>
  <%= yield :header or "" %>
  <main class="py-10 px-20">
    <% if notice %>
    <%= render 'components/Notification' %>
    <% end %>
    <%= yield :content or "" %>
  </main>
  <%= javascript_include_tag "application" %>
  <% else %>
  <%= yield or "" %>
  <% end %>
</body>

</html>